@import "../_common/variable";

.Splash {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: $break-sm) {
    max-width: $container-width;

    border-left: solid 1px #ddd;
    border-right: solid 1px #ddd;
  }

  .Logo {
    width: 30vmin;
    min-width: 64px;
    max-width: 192px;
  }

  h1 {
    margin: 12px 0 0;
    line-height: 1;
    font-size: 32px;

    @media (min-width: $break-md) {
      margin-top: 16px;
      font-size: 48px;
    }
  }
}
