@import "../_common/variable";

.Pause {
  display: none;

  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);

  cursor: pointer;

  justify-content: center;
  flex-direction: column;
  align-items: center;

  &.show {
    display: flex;
  }

  img {
    object-fit: contain;
    max-width: 160px;
    width: 20%;
  }
}
