@import "../_common/variable";

.Complete {
  margin: 0 auto;
  position: relative;

  &__title {
    margin: 0;
    padding: 20px 0;
    text-align: center;
    font-size: 24px;
    font-weight: 800;
    color: #1c1c1c;
    line-height: 1;

    @media (max-height: $break-sm) and (orientation: landscape) {
      font-size: 20px;
      padding: 16px 0;
    }
  }

  &__content {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    padding: 0 40px;

    @media (max-height: $break-sm) and (orientation: landscape) {
      top: 50%;
    }

    & > img {
      display: block;
      margin: 0 auto 36px;
      max-width: 420px;
      width: 100%;

      @media (max-height: $break-sm) and (orientation: landscape) {
        max-width: 220px;
        margin-bottom: 18px;
      }
    }
  }

  &__button-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    padding: 0 24px 56px;
    box-sizing: border-box;

    @media (max-height: $break-sm) and (orientation: landscape) {
      padding: 0;
    }

    .Complete__button {
      display: block;
      width: 100%;
      font-size: 20px;
      font-weight: 600;
      padding: 20px 0;
      color: #fff;
      border-radius: 4px;
      line-height: 1;
      text-decoration: none;

      @media (max-height: $break-sm) and (orientation: landscape) {
        font-size: 16px;
        padding: 16px 0;
        border-radius: 0;
      }

      &-restart {
        background-color: #e21e38;
        margin-bottom: 8px;

        @media (max-height: $break-sm) and (orientation: landscape) {
          float: left;
          margin-bottom: 0;
          width: 50%;
        }

        &:hover {
          background-color: #b91c31;
        }
      }

      &-reset {
        background-color: #49576a;

        &:hover {
          background-color: #1f252a;
        }
      }
    }
  }
}
