@import "../_common/variable";

.Main {
  position: relative;
  margin: 0 auto;

  @media (min-width: $break-sm) {
    max-width: $container-width;

    border-left: solid 1px #ddd;
    border-right: solid 1px #ddd;
  }
  .Logo {
    margin-top: 10vmax;
    width: 60%;
    min-width: 64px;
    max-width: 256px;
  }

  .InputCircle {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
  }

  .StartButton {
    position: absolute;
    display: block;
    bottom: 0;
    width: 100%;
    background-color: $primary;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 16px 0;
    font-weight: 600;
    line-height: 1;

    @media (min-width: $break-md) {
      padding: 24px 0;
      font-size: 24px;
    }
  }
}
