@import "../_common/variable";

.Complete {
  margin: 0 auto;
  position: relative;

  &__title {
    margin: 0;
    padding: 20px 0;
    text-align: center;
    font-size: 24px;
    font-weight: 800;
    color: #1c1c1c;
    line-height: 1;
  }

  &__content {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    padding: 0 40px;

    & > img {
      display: block;
      margin: 0 auto 36px;
      max-width: 420px;
      width: 100%;
    }
  }

  &__button-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    padding: 0 24px 56px;
    box-sizing: border-box;

    .Complete__button {
      display: block;
      width: 100%;
      font-size: 20px;
      font-weight: 600;
      padding: 20px 0;
      color: #fff;
      border-radius: 4px;
      line-height: 1;
      text-decoration: none;

      &-restart {
        background-color: #e21e38;
        margin-bottom: 8px;

        &:hover {
          background-color: #b91c31;
        }
      }

      &-reset {
        background-color: #49576a;

        &:hover {
          background-color: #1f252a;
        }
      }
    }
  }
}
