@import "./_common/variable";

.App {
  text-align: center;
  color: #333;

  .Complete,
  .Main {
    width: 100%;
    height: 100%;
    background-color: #fff;

    @media (min-width: $break-sm) {
      max-width: $container-width;

      box-shadow: 8px 4px 4px 0 #f6f6f6;
    }
  }
}
